<%= stylesheet_link_tag 'recipe_details' %>

<div class="container">
  <h1>Recipes!</h1>
  <% @recipes.each do |recipe| %>
    <div class='recipe-container'>
      <div class="recipe-info">
        <%= link_to recipe.name, user_recipe_path(@user, recipe) %>
        <%= button_to 'Remove', user_recipe_path(@user, recipe), method: :delete%>
      </div>
      <div>
        <p><%= recipe.description %></p>
      </div>
    </div>
    <% end %>
    <%= link_to 'New Recipe', new_user_recipe_path(@user) %> 
</div>
