<%= stylesheet_link_tag 'recipe_details' %>

<div class="container">
  <h1><%= @recipe.name %></h1>
  <div class="genral-detal">
    <div class="details">
      <h3>Preparation time: <%= @recipe.preparation_time %></h3>
      <h3>Cooking time: <%= @recipe.cooking_time %></h3>
      <h3><%= @recipe.description %></h3>
    </div>
    <div>
      <%= form_with(model: @recipe, url: user_recipe_path(@user, @recipe), local: true, method: :patch) do |f| %>
        <div>
          <p><%= f.label :public %>
            <label class="switch">
              <%= f.hidden_field :public, value: false %>
              <%= f.check_box :public, { onchange: 'this.form.submit()',
                                        disabled: @user != current_user }, true, false %>
              <span class="slider"></span>
            </label>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btns">
    <%= button_to "Generate Shopping List", class: "add-food-link"%>
    <%= button_to "Add ingredients", new_user_recipe_recipe_food_path(@user, @recipe), class: "add-food-link",
                  method: :get, disabled: @recipe.user != current_user  %>
  </div>
