<h1>Foods!</h1>

<%= link_to 'Add food', new_user_food_path(@user) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td><%= button_to 'Remove', user_food_path(@user, food), method: :delete %></td>
      </tr>  
    <% end %>
  </tbody>
</table>
