<h1>Add food</h1>

<%= form_with(model: @food, url: user_foods_path(@user), local: true, method: :post) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, autocomplete: 'off' %>
  </div>

  <div>
    <%= form.label :measurement_unit %><br>
    <%= form.select :measurement_unit, ['mg', 'g', 'kg', 'oz', 'lb', 'units'] %>
  </div>
  
  <div>
    <%= form.label :price %> <br>
    <%= form.number_field :price, in: 1..1000, step: 1, autocomplete: "off" %>
  </div>

  <div>
    <%= form.label :quantity %> <br>
    <%= form.number_field :quantity, in: 1..1000, step: 1, autocomplete: "off" %>
  </div>

  <div>
    <%= form.submit %>	
  </div>
<% end %>