<% if @recipe_food.errors.any? %>
  <h2>The following errors prevented Ingredients from being added!</h2>
  <% @recipe_food.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>  
<% end %>

<div class="form">
  <h1>Add the Ingredients of recipe</h1>
  <%= form_with(model: [@user, @recipe, @recipe_food], url: user_recipe_recipe_foods_path(@user, @recipe), local: true, method: :post) do |form| %>
    <div class="food">
      <%= form.label :food_id %> :
      <%= form.collection_select :food_id, Food.all, :id, :name %>
    </div>

    <div class="food">
      <%= form.label :quantity %> :
      <%= form.text_field :quantity %>
    </div>

    <div>
      <%= form.submit "Add Ingredient" %>
    </div>
  <% end %>
</div>
